#month-dropdown{
  width : 100%;
  background-color: white;
  border-color: lightgrey;
  color: #3E7AFF;
  text-align: center;
}

#demo-6{
  text-align: center;
  width :50%;
  margin-left: 25%;

}
#cancelForm{
  text-align: center;
}

#dropdown-menu{
  width: 100%;
  background-color: white;
  text-align: center;
}

.table-hover> tbody> tr:hover{
    background-color:black;
    color: white;
}

#month-container{
  text-align: center;
}

#date-container{
  text-align: center;
}

#result-6{
  color: #3E7AFF;
}
