#month-dropdown{
  width : 100%;
  background-color: white;
  border-color: lightgrey;
  color: #3E7AFF;
  text-align: center;
}

#dropdown-menu{
  width: 100%;
  background-color: white;
  text-align: center;
}
 /*TODO - ADD Hover animation*/
#dropdown-menu : hover{
  background-color: black;
}

#month-container{
  text-align: center;
}

#date-container{
  text-align: center;
}
