{% extends "base.html" %}

{% block content %}
    <br /><br />
    <h1 style="font-size: 60px; font-family: 'Open Sans', sans-serif;">Change Mess</h1>

    <div class="container" align="right" style="padding-top: 50px">
			<div class="card" style="width: 100%;" align="left">
				<div class="card-body">
					<nav class="nav-fill">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-datewise" role="tab" aria-controls="nav-login" aria-selected="true">Datewise</a>
              <a class="nav-item nav-link" id="nav-signup-tab" data-toggle="tab" href="#nav-daywise" role="tab" aria-controls="nav-signup" aria-selected="false" onclick="populate()">Daywise</a>
						  <a class="nav-item nav-link" id="nav-signup-tab" data-toggle="tab" href="#nav-monthwise" role="tab" aria-controls="nav-signup" aria-selected="false" onclick="monthwise()">Monthwise</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-datewise" role="tabpanel" aria-labelledby="nav-login-tab">
							<br />
              <div class="container">
                  <div class="col-md-10">
                      <div class="card">
                          <div class="card-body">
                              <p id="result-6">&nbsp;</p>
                              <form method="POST" action="/changeMeal" id="cancelForm">
                                  <input type="text" id="demo-6" name="date_range" class="form-control form-control-sm"/>
                                  <br />
                                  <div class="form-group form-check">
                                      <input type="checkbox" name="breakfast" class="form-check-input">
                                      <label class="form-check-label">Breakfast</label>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <input type="checkbox" name="lunch" class="form-check-input">
                                      <label class="form-check-label">Lunch</label>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <input type="checkbox" name="dinner" class="form-check-input">
                                      <label class="form-check-label">Dinner</label>
                                      <br><br>
                                      <input type="radio" name="mess" value="Yuktahar" checked>Yuktahar<
                                      <input type="radio" name="mess" value="North"> North
                                      <input type="radio" name="mess" value="South"> South
                                      <input type="radio" name="mess" value="Kadamb"> Kadamb<br><br>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Change</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
						<div class="tab-pane fade" id="nav-daywise" role="tabpanel" aria-labelledby="nav-signup-tab">
							<br />

              <div class="container" align="left" style="padding-top: 50px">
                <div class="card" style="width: 100%;">
                  <div class="card-body">

                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#nav-breakfast" onclick="breakfast()">Breakfast</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#nav-lunch" onclick="lunch()">Lunch</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#nav-dinner" onclick="dinner()">Dinner</a>
                      </li>
                    </ul>
                    <br / >

                    <div class="row">
                      <div class="col-sm-3">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Days</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td id="monday" onclick="change_day('monday')" style="background-color: lightblue">Monday</td>
                            </tr>
                            <tr>
                              <td id="tuesday" onclick="change_day('tuesday')">Tuesday</td>
                            </tr>
                            <tr>
                              <td id="wednesday" onclick="change_day('wednesday')">Wednesday</td>
                            </tr>
                            <tr>
                              <td id="thursday" onclick="change_day('thursday')">Thursday</td>
                            </tr>
                            <tr>
                              <td id="friday" onclick="change_day('friday')">Friday</td>
                            </tr>
                            <tr>
                              <td id="saturday" onclick="change_day('saturday')">Saturday</td>
                            </tr>
                            <tr>
                              <td id="sunday" onclick="change_day('sunday')">Sunday</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-sm-2">
                        <table class="table table">
                          <thead>
                            <tr>
                              <th>Yuktahar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-sm-2">
                        <table class="table table">
                          <thead>
                            <tr>
                              <th>Kadamb</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div><div class="col-sm-2">
                        <table class="table table">
                          <thead>
                            <tr>
                              <th>North</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div><div class="col-sm-2">
                        <table class="table table">
                          <thead>
                            <tr>
                              <th>South</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <form method="POST" action="/daywise" id="daywiseForm">
                      <div class="form-group form-check">
                        <input type="hidden" id="day_change" name="day_change" class="form-control form-control-sm">
                        <input type="hidden" id="time_change" name="time_change" class="form-control form-control-sm">
                        <button type="submit"id="daywise_submit" class="btn btn-primary">Change</button>
                      </div>
                    </form>



                    </div>
                  </div>
                </div>
              </div>


            <div class="tab-pane fade" id="nav-monthwise" role="tabpanel" aria-labelledby="nav-signup-tab">
							<br />
              <div class="container">
                <div class="col-md-10">
                  <div class="card">
                    <div class="card-body">
                      <div class="dropdown" >
                        <button type="button" id="month-dropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Select Month
                        </button>
                        <div class="dropdown-menu" id="dropdown-menu">
                          <a class="dropdown-item" id="drop1" href="#" onclick="month_select(1)"></a>
                          <a class="dropdown-item" id="drop2" href="#" onclick="month_select(2)"></a>
                          <a class="dropdown-item" id="drop3" href="#" onclick="month_select(3)"></a>
                          <a class="dropdown-item" id="drop4" href="#" onclick="month_select(4)"></a>
                          <a class="dropdown-item" id="drop5" href="#" onclick="month_select(5)"></a>
                        </div>
                        <br>
                        <br>

                        <form method="POST" action="/changeMeal" id="cancelForm">
                            <div class="form-group form-check">
                                <input type="hidden" id="month_change" name="date_range" class="form-control form-control-sm">
                                <input type="checkbox" name="breakfast" class="form-check-input">
                                <label class="form-check-label">Breakfast</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="lunch" class="form-check-input">
                                <label class="form-check-label">Lunch</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="dinner" class="form-check-input">
                                <label class="form-check-label">Dinner</label>
                                <br><br>
                                <input type="radio" name="mess" value="Yuktahar" checked>Yuktahar
                                <input type="radio" name="mess" value="North"> North
                                <input type="radio" name="mess" value="South"> South
                                <input type="radio" name="mess" value="Kadamb"> Kadamb<br><br>
                            </div>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

						</div>
					</div>
				</div>
			</div>
		</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async src="https://buttons.github.io/buttons.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <link rel="stylesheet" href="../static/change.css">
    <script src="{{ url_for('static',filename = 'lightpick.js') }}"></script>
    <script src="{{ url_for('static',filename = 'change_mess.js') }}"></script>


    <script type="text/javascript">
        meal = 1;
        day = "monday";
        var months = [
        'January', 'February', 'March', 'April', 'May',
        'June', 'July', 'August', 'September',
        'October', 'November', 'December'
        ];

        function monthwise(){
          var date = new Date();
          var month = date.getMonth();
          var year = 1900 + date.getYear();
          var i;
          for (i = 1; i < 6; i++) {
            month = month + 1;
            year = year + Math.floor((month)/12);
            month = (month)%12;
            var elem = "drop" + i;
            document.getElementById(elem).innerHTML = months[month]+ ", " + year ;

          }
        }

        function month_select(op){
          var date = new Date();
          var month = date.getMonth();
          var year = 1900 + date.getYear();
          month = month + op;
          year = year + Math.floor((month)/12);
          month = (month)%12;
          document.getElementById("month-dropdown").innerHTML = months[month]+ ", " + year ;
          document.getElementById("month_change").value = months[month]+ ", " + year ;
        }

        function breakfast() {
            meal = 1;
            populate();
        }

        function lunch() {
            meal = 2;
            populate();
        }
        function dinner() {
            meal = 3;
            populate();
        }
        function change_day(newday) {
            // document.getElementById(day).style.backgroundColor = "white";
            document.getElementById(day).style.removeProperty("background-color");

            day = newday;
            document.getElementById(day).style.backgroundColor = "lightblue";
            populate();
        }

        function populate(){
            console.log("populate");
            document.getElementById("day_change").value = day;
            document.getElementById("time_change").value = meal;
            //document.getElementById("daywise_submit").click();

            const Url = 'http://localhost:5000/daywise'

            const data = {
              day_change = "monday",
              time_change = 1;
            }

            $.post(Url, data, function(result, status) {
              console.log("Result: " + result);
              console.log("Status: " + status);
            });

            // document.getElementById('daywiseForm').action = "/daywise";
        }


    </script>


{% endblock %}
