{% extends "base.html" %}
{% block content %}
            <br /><br />
            <h1 style="font-size: 90px; font-family: 'Open Sans', sans-serif;">Today's Meal</h1>
            <br /><br />

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="background-image: linear-gradient(to top left, #E1F5FE, #ffffff);">
                            <div class="card-body">
                                <h5 class="card-title">Breakfast - South</h5>
                                <h6 class="card-subtitle mb-2 text-muted">07:30 - 09:30</h6>
                                <p class="card-text">Idli Dosa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="background-image: linear-gradient(to top left, #90D1FF, #ffffff);">
                            <div class="card-body">
                                <h5 class="card-title">Lunch - North</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-clock"></i> 12:30 - 14:30</h6>
                                <p class="card-text">Paneer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="background-image: linear-gradient(to top left, #E1F5FE, #ffffff);">
                            <div class="card-body">
                                <h5 class="card-title">Dinner - North</h5>
                                <h6 class="card-subtitle mb-2 text-muted">19:30 - 21:30</h6>
                                <p class="card-text">Dal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}