{% extends "base.html" %}
{% block content %}
            <br /><br />
            <h1 style="font-size: 60px; font-family: 'Open Sans', sans-serif;">South Menu</h1>
            <br /><br />

            <div class="container">
                <div class="card">
                <div class="card-body">
                    <nav class="nav-fill">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-breakfast-tab" data-toggle="tab" href="#nav-breakfast" role="tab" aria-controls="nav-breakfast" aria-selected="true">Breakfast</a>
                            <a class="nav-item nav-link" id="nav-lunch-tab" data-toggle="tab" href="#nav-lunch" role="tab" aria-controls="nav-lunch" aria-selected="false">Lunch</a>
                            <a class="nav-item nav-link" id="nav-snacks-tab" data-toggle="tab" href="#nav-snacks" role="tab" aria-controls="nav-snacks" aria-selected="false">Snacks</a>
                            <a class="nav-item nav-link" id="nav-dinner-tab" data-toggle="tab" href="#nav-dinner" role="tab" aria-controls="nav-dinner" aria-selected="false">Dinner</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-breakfast" role="tabpanel" aria-labelledby="nav-breakfast-tab">
                            <table class="table" id="breakfast">
                                <thead>
                                    <tr>
                                        <th scope="col">Sunday</th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-lunch" role="tabpanel" aria-labelledby="nav-lunch-tab">
                            <table class="table" id="lunch">
                                <thead>
                                    <tr>
                                        <th scope="col">Sunday</th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-snacks" role="tabpanel" aria-labelledby="nav-snacks-tab">
                            <table class="table" id="snacks">
                                <thead>
                                    <tr>
                                        <th scope="col">Sunday</th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-dinner" role="tabpanel" aria-labelledby="nav-dinner-tab">
                            <table class="table" id="dinner">
                                <thead>
                                    <tr>
                                        <th scope="col">Sunday</th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                {% for m in menus %}
                    {% if m.day == "sunday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[0].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[0].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[0].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[0].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[0].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[0].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[0].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[0].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[0].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[0].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[0].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[0].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[0].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[0].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[0].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[0].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[0].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[0].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[0].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[0].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[0].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[0].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[0].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[0].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[0].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[0].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[0].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[0].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[0].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[0].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[0].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[0].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[0].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[0].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                    {% if m.day == "monday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[1].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[1].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[1].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[1].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[1].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[1].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[1].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[1].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[1].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[1].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[1].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[1].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[1].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[1].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[1].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[1].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[1].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[1].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[1].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[1].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[1].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[1].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[1].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[1].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[1].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[1].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[1].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[1].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[1].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[1].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[1].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[1].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[1].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[1].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                    {% if m.day == "tuesday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[2].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[2].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[2].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[2].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[2].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[2].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[2].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[2].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[2].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[2].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[2].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[2].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[2].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[2].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[2].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[2].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[2].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[2].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[2].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[2].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[2].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[2].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[2].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[2].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[2].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[2].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[2].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[2].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[2].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[2].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[2].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[2].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[2].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[2].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                    {% if m.day == "wednesday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[3].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[3].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[3].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[3].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[3].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[3].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[3].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[3].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[3].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[3].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[3].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[3].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[3].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[3].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[3].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[3].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[3].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[3].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[3].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[3].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[3].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[3].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[3].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[3].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[3].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[3].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[3].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[3].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[3].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[3].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[3].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[3].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[3].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[3].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                    {% if m.day == "thursday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[4].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[4].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[4].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[4].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[4].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[4].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[4].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[4].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[4].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[4].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[4].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[4].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[4].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[4].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[4].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[4].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[4].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[4].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[4].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[4].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[4].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[4].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[4].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[4].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[4].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[4].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[4].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[4].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[4].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[4].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[4].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[4].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[4].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[4].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                    {% if m.day == "friday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[5].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[5].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[5].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[5].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[5].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[5].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[5].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[5].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[5].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[5].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[5].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[5].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[5].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[5].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[5].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[5].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[5].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[5].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[5].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[5].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[5].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[5].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[5].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[5].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[5].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[5].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[5].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[5].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[5].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[5].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[5].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[5].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[5].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[5].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                    {% if m.day == "saturday" %}
                        {% if m.time == "breakfast" %}
                            document.getElementById('breakfast').rows[1].cells[6].innerHTML = '{{ m.item1 }}';
                            document.getElementById('breakfast').rows[2].cells[6].innerHTML = '{{ m.item2 }}';
                            document.getElementById('breakfast').rows[3].cells[6].innerHTML = '{{ m.item3 }}';
                            document.getElementById('breakfast').rows[4].cells[6].innerHTML = '{{ m.item4 }}';
                            document.getElementById('breakfast').rows[5].cells[6].innerHTML = '{{ m.item5 }}';
                            document.getElementById('breakfast').rows[6].cells[6].innerHTML = '{{ m.item6 }}';
                            document.getElementById('breakfast').rows[7].cells[6].innerHTML = '{{ m.item7 }}';
                            document.getElementById('breakfast').rows[8].cells[6].innerHTML = '{{ m.item8 }}';
                        {% endif %}
                        {% if m.time == "lunch" %}
                            document.getElementById('lunch').rows[1].cells[6].innerHTML = '{{ m.item1 }}';
                            document.getElementById('lunch').rows[2].cells[6].innerHTML = '{{ m.item2 }}';
                            document.getElementById('lunch').rows[3].cells[6].innerHTML = '{{ m.item3 }}';
                            document.getElementById('lunch').rows[4].cells[6].innerHTML = '{{ m.item4 }}';
                            document.getElementById('lunch').rows[5].cells[6].innerHTML = '{{ m.item5 }}';
                            document.getElementById('lunch').rows[6].cells[6].innerHTML = '{{ m.item6 }}';
                            document.getElementById('lunch').rows[7].cells[6].innerHTML = '{{ m.item7 }}';
                            document.getElementById('lunch').rows[8].cells[6].innerHTML = '{{ m.item8 }}';
                            document.getElementById('lunch').rows[9].cells[6].innerHTML = '{{ m.item9 }}';
                            document.getElementById('lunch').rows[10].cells[6].innerHTML = '{{ m.item10 }}';
                            document.getElementById('lunch').rows[11].cells[6].innerHTML = '{{ m.item11 }}';
                            document.getElementById('lunch').rows[12].cells[6].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                        {% if m.time == "snacks" %}
                            document.getElementById('snacks').rows[1].cells[6].innerHTML = '{{ m.item1 }}';
                            document.getElementById('snacks').rows[2].cells[6].innerHTML = '{{ m.item2 }}';
                        {% endif %}
                        {% if m.time == "dinner" %}
                            document.getElementById('dinner').rows[1].cells[6].innerHTML = '{{ m.item1 }}';
                            document.getElementById('dinner').rows[2].cells[6].innerHTML = '{{ m.item2 }}';
                            document.getElementById('dinner').rows[3].cells[6].innerHTML = '{{ m.item3 }}';
                            document.getElementById('dinner').rows[4].cells[6].innerHTML = '{{ m.item4 }}';
                            document.getElementById('dinner').rows[5].cells[6].innerHTML = '{{ m.item5 }}';
                            document.getElementById('dinner').rows[6].cells[6].innerHTML = '{{ m.item6 }}';
                            document.getElementById('dinner').rows[7].cells[6].innerHTML = '{{ m.item7 }}';
                            document.getElementById('dinner').rows[8].cells[6].innerHTML = '{{ m.item8 }}';
                            document.getElementById('dinner').rows[9].cells[6].innerHTML = '{{ m.item9 }}';
                            document.getElementById('dinner').rows[10].cells[6].innerHTML = '{{ m.item10 }}';
                            document.getElementById('dinner').rows[11].cells[6].innerHTML = '{{ m.item11 }}';
                            document.getElementById('dinner').rows[12].cells[6].innerHTML = '{{ m.item12 }}';
                        {% endif %}
                    {% endif %}
                {% endfor %}


            </script>
{% endblock %}